[color]
	ui = auto
[color "diff"]
	meta = blue
	frag = white
	old = red bold
	new = green bold
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[merge]
	tool = meld
[diff]
	guitool = tkdiff
	tool = meld
[mergetool "meld"]
	cmd = meld $LOCAL $REMOTE
	trustExitCode = true
[user]
	name = Martin Pielvitori
	email = martinpielvitori@gmail.com
